@import "functions";

//......................................................

	//THESE ARE FRAMEWORKS SETTINGS AND GLOBAL VARIABLES
	//OTHER VARIABLES ARE SCOPED TO THEIR OWN MODULE
	//DON'T PUT HERE VARIABLES THAT DEFINE PADDINGS, MARGINS, SIZES, ETC

//.....................................................


//========================
//		   SUSY
//========================

//Susy Grids kick ass

$susy: (
  columns: 	4,
  gutters: 	1/4,
  math: 	fluid,
  output:	float,
  global-box-sizing: border-box,
  container: 900px
);

//========================
//		  COLORS
//========================

$palettes: (
	cream: (
		light: 	rgb(250,250,250),
		base: 	#EFEDE1,////#e9e7dd
	),
	gray: (
		light: 	rgb(250,250,250),
		base: 	rgb(249,249,249),
	),
	black:(
		base: 	#0B0B0B,
		dark: 	rgb(21,21,21),
	),
	accent:(
		blue:	#607890,
		red:	#E9004B,
		yellow:	#ffb454,
		green:	#3FFFB2,
		base:	#E9004B,
	),
	black-pearl:(
		base: #05081A
	)
);

//========================
//		BREAKPOINTS
//========================

$planck-width:		toEm(210px,16px);
$planck-columns:	2;

$quantum-width:		toEm(270px,16px);
$quantum-columns:	4;

$tiny-width:		toEm(350px,16px);
$tiny-columns:		4;

$small-width:		toEm(450px,16px);
$small-columns:		6;

$med-width:			toEm(650px,16px);
$med-columns:		8;

$big-width:			toEm(800px,16px);
$big-columns:		10;

$huge-width:		toEm(1000px,16px);
$huge-columns:		12;

$extreme-width:		toEm(1200px,16px);
$extreme-columns:	14;

$supreme-width:		toEm(1400px,16px);
$supreme-columns:	16;

$cosmic-width:		toEm(1600px,16px);
$cosmic-columns:	20;

$entropy-width:		toEm(1700px,16px);
$entropy-columns:	20;

$void-width:		toEm(2500px,16px);
$void-columns:		24;

//==========================
//		 TYPOGRAPHY
//==========================

$base-fontSize: 14px;

$ms-ratio: 1.125;

$magic-number: 24;//body font size= 18 (1.125 * 16) -- 18(body) * 1.33333(line-height)

$ms-range:
	1.125,
	1.2  $small-width,
	1.333  $big-width
	;

